<div class="container">
    <body id = "introduce">
            <h3>トップページ</h3>
            日常の風景を投稿できます
             <!--<a class="btn btn-primary btn-lg" href="new_user" role="button">スタート»</a>-->
             <p><%= link_to "スタート", new_user_path, class: "btn btn-primary btn-lg"%></p>
    </body>
</div>