/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */



.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  width: 100px;
  height: 100px;
}

.user_logo {
  float:left;
  width: 30px;
  height: 30px;
}

.header #camera_logo {
  float:left;
  width: 10px;
  height: 50px;
}

.camera {
  display: block;
  float:left;
  width: 10px;
  height: 30px;
  padding-top: 20px;
  padding-left: 20px;
}

.insta {
  float:left;
  margin-left: 60px
}
.btn{
    display: inline-block;
    padding: 7px 20px;
	  border-radius: 25px;
    text-decoration: none;
    color: #000000;
    background-image: -webkit-linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    background-image: linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    transition: .4s;
}

.btn:hover {
    background-image: -webkit-linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    background-image: linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
}

.header {
  border-top: #ffffff 5px solid;
  background: #E03B65;
}

.header p {
  margin: auto;
}

.footer {
  padding: 10px;
  width: 100%;
  background: #E03B65;
  position: fixed;
  bottom: 0;
  height: 40px;
  
}


.footer p {
  text-align: center;
  font-size: 8pt;
  margin: auto;
}

#introduce {
background-image: image-url("phone4.PNG");
/*background-size: cover;*/
}
